includes:
    - phpstan-baseline.neon

parameters:
    level: 6
    paths:
        - bin/
        - src/
        - .php-cs-fixer.dist.php
    excludePaths:
        analyse:
            - src/Test/Proto/
    tmpDir: .build/phpstan/
