<?xml version="1.0" encoding="UTF-8"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:noNamespaceSchemaLocation="./vendor/phpunit/phpunit/phpunit.xsd"
         backupGlobals="false"
         colors="true"
         processIsolation="false"
         executionOrder="random"
         stopOnFailure="false"
         stopOnError="false"
         stderr="true"
         cacheDirectory=".phpunit.cache"
         resolveDependencies="true"
>
    <testsuites>
        <testsuite name="Unit">
            <directory>tests/Unit</directory>
        </testsuite>
    </testsuites>
    <source>
        <include>
            <directory>src</directory>
        </include>
        <exclude>
            <directory>tests</directory>
        </exclude>
    </source>
</phpunit>
